@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Montserrat', sans-serif;
}

.container input {
    border-color: rgba(112, 112, 112, 0.46);
    color: rgba(112, 112, 112, 0.79);
    border-width: 1px;
}

.container .register input[type="submit"], .container .login input[type="submit"] {
    border: none;
    background-color: transparent;
    color: #122F3F;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1440px) {
    .container .register, #LoginText1 {
        display: none;
    }

    nav {
        display: block;
    }
    
    nav .left {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    nav .left img {
        height: auto;
        width: 8em;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    
    nav .right {
        display: none;
    }
    
    .container .login, .container .login form {
        display: block;
        text-align: center;
    }

    .container h2 {
        margin-bottom: 1em;
    }

    .container .register input[type="submit"], .container .login input[type="submit"] {
        font-size: 20px;
        padding: 1em;
    }

    .container a {
        text-decoration: none;
        color: rgba(112, 112, 112, 0.79);
    }
}

@media screen and (min-width: 1440px) {
    #LoginText2 {
        display: none;
    }
    
    nav {
        display: block;
    }

    nav .left {
        padding: 2em 5em;
        display: inline-block;
        margin-right: 10em;
    }

    nav .left img {
        height: auto;
        width: 45%;
    }

    nav .right {
        padding: 5em 10em;
        display: inline-block;
    }

    nav .right a {
        color: black;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        padding: 0 2em;
    }
        
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container .login {
        margin-left: auto;
        margin-right: auto;
    }
    
    .container .register {
        margin-left: auto;
        margin-right: auto;
    }
    
    .container .register h2, .container .login h2 {
        margin-bottom: 1em;
        font-size: 40px;
    }

    .container .register input[type="submit"], .container .login input[type="submit"] {
        width: 90px;
        padding: 1em 0;
        font-size: 15px;
    }

    .container .register input[type="number"], .container .login input[type="number"] {
        width: 100px;
    }

    .container .register input[type="date"] {
        font-family: 'Montserrat', sans-serif;
        width: 150px;
    }
    
    .lengteEnGewicht .lengte, .wachtwoorden .wachtwoord1 {
        margin-right: 3em;
    }

    .lengteEnGewicht, .wachtwoorden {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #linktoregister {
        display: none;
    }
}